@charset "utf-8";

*, *::before, *::after {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}
a {
  color: inherit;
  text-decoration: none;
}
img {
  display: block;
  object-fit: contain;
  width: auto;
  height: auto;
  max-width: 100%;
  max-height: 100%;
}
ul, ol {
  list-style: none;
}
dialog {
  margin: auto;
  background: none;
  border: none;
  color: inherit;
}
dialog::backdrop {
  background-color: transparent;
}
button {
  border: none;
  background: none;
  font: inherit;
  color: inherit;
  letter-spacing: inherit;
  word-spacing: inherit;
  cursor: pointer;
}

/* RESET ENDS */

/* GENERAL STYLE STARTS */

:root {
  --clr-page-bg1: hsl(162 100% 60%);
  --clr-page-bg2: hsl(198 100% 80%);
  --clr-page-bg3: hsl(198 80% 40%);
  --clr-page-text: #ffffff;
  --clr-nav-bg: #ffffff33;
  --clr-link-hover: #2792c3;
  --clr-bubble-bg: #6060603f;
  --clr-bubble-glow: #ffffff7f;
  --clr-popout-bg: #ffffffb2;
  --clr-scrollbutton-bg1: #2792c366;
  --clr-scrollbutton-bg2: #26d8c366;
  --ckr-scrollbutton-glow: #ffffff3f;
  --cvw: clamp(0.5rem, 1vw, 1rem);
  --sqrt2: calc(1/cos(45deg));
}
body {
  min-height: 100vh;
  background: /* fallback static gradient */
    radial-gradient(ellipse  50% 100% at   0%   0%, var(--clr-page-bg2), transparent),
    radial-gradient(ellipse  50% 100% at 100% 100%, var(--clr-page-bg2), transparent),
    radial-gradient(ellipse  50%  50% at 100%   0%, var(--clr-page-bg3), transparent),
    var(--clr-page-bg1);
  font-family: "Open Sans", sans-serif;
  color: var(--clr-page-text);
  line-height: 1;
}
dialog[open] {
  animation: fadein 0.4s;
}
@keyframes fadein {
  from { visibility: hidden;  opacity: 0; }
  to   { visibility: visible; opacity: 1; }
}

/* GENERAL STYLE ENDS */

/* HELPER CLASSES STARTS */

.pc-only {
  display: none !important;
}
@media (min-width: 48rem) {
  .sp-only {
    display: none !important;
  }
  .pc-only {
    display: block !important;
  }
}

/* HELPER CLASSES ENDS */

/* HEADER STYLE STARTS */

header {
  position: fixed;
  inset: 0 0 auto 0;
  margin: auto;
  z-index: 1;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  row-gap: var(--cvw);
  padding-block: 2rem;
}
.logo {
  margin-left: calc(4*var(--cvw));
}
.pc-nav {
  margin-left: auto;
}
.pc-nav ul {
  display: flex;
  gap: calc(2*var(--cvw));
  padding: 0.75rem calc(4*var(--cvw)) 0.75rem calc(8*var(--cvw));
  background-image: linear-gradient(90deg, transparent, var(--clr-nav-bg));
}
.pc-nav button {
  transition: color 0.2s;
}
.pc-nav button:where(:hover, :focus-visible) {
  color: var(--clr-link-hover);
}

/* HEADER STYLE ENDS */

/* MAIN STYLE STARTS */

#gradient-render {
  display: block;
  position: fixed;
  width: 100%;
  height: 100%;
}
.booth-img-container {
  position: fixed;
  inset: 0;
  margin: auto;
  aspect-ratio: 16 / 9;
}
.booth-img {
  position: absolute;
  visibility: hidden;
  opacity: 0;
  transition: visibility 1s, opacity 1s;
}
.booth-img.active {
  visibility: visible;
  opacity: 1;
}
.popout-show {
  position: absolute;
  top: var(--y, 50%);
  left: var(--x, 50%);
  translate: -50% -50%;
  scale: calc(0.25 * var(--s, 1));
  width: 8rem;
  aspect-ratio: 1;
  border: 0.0625rem solid var(--clr-page-text);
  border-radius: 50%;
  background-color: var(--clr-bubble-bg);
  color: transparent;
  box-shadow: 0 0 0.5rem var(--clr-bubble-glow);
  transition: color 0.2s, scale 0.2s;
}
.popout-show::before {
  content: "";
  position: absolute;
  inset: -0.5rem;
  border: 0.0625rem solid var(--clr-page-text);
  border-radius: 50%;
  clip-path: polygon(15% 0%, 50% 0%, 50% 100%, 85% 100%);
  rotate: 162deg;
}
.popout-show:is(:hover, :focus-visible) {
  color: var(--clr-page-text);
  scale: var(--s, 1);
}
.popout {
  position: relative;
  padding: 3rem 4rem;
  background-image: linear-gradient(
    135deg,
    transparent 0 calc(2rem*var(--sqrt2)),
    var(--clr-popout-bg) calc(2rem*var(--sqrt2)) calc(100% - 2rem*var(--sqrt2)),
    transparent calc(100% - 2rem*var(--sqrt2)) 100%
  );
}
.popout-hide {
  position: absolute;
  top: 1rem;
  right: 1rem;
  transition: scale 0.2s;
}
.popout-hide:is(:hover, :focus-visible) {
  scale: 1.5;
}
.scroll-button {
  position: fixed;
  bottom: 4rem;
  right: 2rem;
  display: flex;
  align-items: center;
  gap: 0.75rem;
  padding: 0.75rem 3.5rem;
  background-image: linear-gradient(90deg, var(--clr-scrollbutton-bg1), var(--clr-scrollbutton-bg2));
  border: 0.0625rem solid;
  border-radius: 1.25rem;
  font-weight: 800;
  text-transform: uppercase;
  rotate: 90deg;
  transform-origin: calc(100% - 1.5625rem) center;
}
.scroll-button::before, .scroll-button::after {
  content: "";
  width: 3rem;
  height: 0.0625rem;
  background-color: currentColor;
  transition: width 0.2s;
}
.scroll-button.scrolling-up::before, .scroll-button.scrolling-down::after {
  width: 1rem;
}
.scroll-button.scrolling-up::after, .scroll-button.scrolling-down::before {
  width: 5rem;
}

/* MAIN STYLE ENDS */